<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" batch="false" targetFramework="4.0" />
    <customErrors mode="Off" />
    <caching>
      <outputCache enableOutputCache="false" enableFragmentCache="false"
                   sendCacheControlHeader="false" omitVaryStar="false" />
    </caching>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".log" />
      <mimeMap fileExtension=".log" mimeType="text/x-log" />
    </staticContent>
    <caching enabled="false" />
  </system.webServer>
</configuration>